body {
    background-color: #A2DCEE;
}

#brandLogo {
    border-radius: 45px;
    margin-right: 15px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;    
}
.collapse {
    position: relative;
    
}

.nav-link {
    display: flex;
    align-items: center;
    
}

.bi {
    margin-right: 5px;
}

#footer {
    background-color: #e9ecef;
    margin-top: 5px;
}

.card-footer {
    padding: 0.1rem ;
}

.text-center {
    width: -webkit-fill-available;
}


@media (min-width : 992px) {
}

@media (min-width : 768px) and (max-width: 991px) {
}
@media (min-width : 576px) and (max-width: 767px) {
    .col-sm-12 {
        margin-top: 35px;
    }
}
@media (max-width : 575px) {
    .col-xs-12 {
        margin: 15px;
    }
    .jumbotron div h1 {
        font-size: 2.0em;
    }

    .jumbotron div p {
        font-size: 1em;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.6em;
        font-weight: bold; 
    }
    #footer-text {
        font-size: 0.8rem;
    }
   
}
